/*
 This is from the ed site, should make sure it works with the annotationViewer.css

*/

/* Puts the annotator thing at the bottom */
.tagColor{
	border-radius: 0.3rem;
	border:1px solid red;
}
.categoryColor{
	border-radius: 0.3rem;
	border:1px solid green;
}
.userColor{
	border-radius: 0.3rem;
	border:1px solid blue;
}
#annotation-well{
	margin: 0;
    border-radius: 0.3rem 0.3rem 0 0;
	padding: 1rem 2rem 1.6rem 2rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #ececec;
    border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.25);
	z-index: 1000;
}

/*====================*/

.annotator-hl {
	background: rgba(255, 255, 10, 0.3)
}

.annotator-hl-active {
	background: rgba(255, 255, 10, 0.8)
}

.annotator-hl-filtered {
	background-color: transparent
}

.annotation_category-4 {
	background-color: #d5d5fd;
}

.annotation_category-4 .annotation_category-3 {
	background-color: #d9c9fd;
}

.annotation_category-4 .annotation_category-3 .annotation_category-4 {
	background-color: #d9c9fd;
}

.annotation_category-4 .annotation_category-3 .annotation_category-4 .annotation_category-5 {
	background-color: #cdc4ef;
}

.annotation_category-4 .annotation_category-3 .annotation_category-4 .annotation_category-5 .annotation_category-3.annotation_category-4.annotation_category-5.annotation_category-6 {
	background-color: #d2d5e2;
}

.annotation_category-4 .annotation_category-3 .annotation_category-4 .annotation_category-5 .annotation_category-3.annotation_category-4.annotation_category-5.annotation_category-6 .annotation_category-6.annotation_category-7 {
	background-color: #ddd6d9;
}

.annotation_category-5.annotation_category-4 {
	background-color: #c5c5e9;
}

.annotation_category-3 {
	background-color: #d5adfd;
}

.annotation_category-3 .annotation_category-5.annotation_category-4 {
	background-color: #cdc4ef;
}

.annotation_category-5 {
	background-color: #adadd5;
}

.annotation_category-3.annotation_category-4 {
	background-color: #d9c9fd;
}

.annotation_category-3.annotation_category-4 .annotation_category-4 {
	background-color: #d9c9fd;
}

.annotation_category-4 .annotation_category-4 {
	background-color: #d5d5fd;
}

.annotation_category-6 {
	background-color: #d5fdad;
}

.annotation_category-6 .annotation_category-4 {
	background-color: #d9edd5;
}

.annotation_category-4.annotation_category-5 {
	background-color: #c5c5e9;
}

.annotation_category-5.annotation_category-6 {
	background-color: #c9ddc5;
}

.annotation_category-5.annotation_category-6 .annotation_category-4.annotation_category-5 {
	background-color: #cfddd7;
}

.annotation_category-3.annotation_category-4.annotation_category-5.annotation_category-6 {
	background-color: #d2d5e2;
}

.annotation_category-3.annotation_category-4.annotation_category-5 {
	background-color: #cdc4ef;
}

.annotation_category-4.annotation_category-5 .annotation_category-4 {
	background-color: #c5c5e9;
}

.annotation_category-7 {
	background-color: #fdd5ad;
}

.annotation_category-1 {
	background-color: #9cc4ef;
}

.annotation_category-2 {
	background-color: #add5fd;
}

.annotation_category-3 {
	background-color: #d5adfd;
}

.annotation_category-4 {
	background-color: #d5d5fd;
}

.annotation_category-5 {
	background-color: #adadd5;
}

.annotation_category-6 {
	background-color: #d5fdad;
}

.annotation_category-7 {
	background-color: #fdd5ad;
}

.select2-search__field{
	width:150% !important;
	font-size: .5rem !important;
}
