section.region-sidebar-second {
     background-color: white;
     border: 1px solid whitesmoke;
     margin-left: -20px ! important;
     padding: 10px 17px 10px 20px;
     width: 100% ! important;
     margin-top: -55px;
}

section.region-sidebar-second h2 {
     margin-bottom: 5px;
     margin-top: 5px;
     text-align: center;
}

section.region-sidebar-second input[type="checkbox"] {
     margin: 0% 5% 0% 10%;
}

#af-active {
     text-align: center;
}

.region-sidebar-second div#block-block-1 {
     background-color: transparent;
     border: medium none;
}

.af-title {
     font-weight: bold;
     margin-left: 50px;
}

.af-button {
     -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background-color: #92a6c4;
     background-image: linear-gradient(to bottom, #92a6c4, #39404a);
     background-repeat: repeat-x;
     border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
     border-image: none;
     border-radius: 4px;
     border-style: solid;
     border-width: 1px;
     color: #ffffff;
     cursor: pointer;
     display: inline-block;
     margin: 0px 0px 0px 18px;
     padding: 0px;
     text-align: center;
     text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
     vertical-align: middle;
     width: 25%;
}

.af-button:hover {
     background-color: #39404a;
}

.af-button-active:hover {
     background-color: #88b551;
     background-position: 0px -15px;
     color: #ffffff;
     text-decoration: none;
     transition: background-position 0.1s linear 0s;
}

.af-button-active {
     background-color: #c4df2c;
     background-image: linear-gradient(to bottom, #c4df2c, #88b551);
}

#af-button-reset {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5px;
     width: 90%;
}

/* Amanda: removed because this was hiding highlights from anonymous users.
.af-annotation-hide {
     background-color: rgba(0, 0, 0, 0) ! important;
}
*/

/* Temporary partial fix to show highlighting for anon users. Filtering will not work correctly, however, because "af-annotation-hide is being added to all annotation hightlight spans for anon users.
.not-logged-in .af-annotation-hide {
background-color: rgba(22,147,165,.2);
}
*/

.logged-in .af-annotation-hide {
    background: transparent !important;
}


#af-button-user {
    
}

.af-filter-active {
     cursor: pointer;
     display: block;
     padding-left: 10%;
     text-transform: capitalize;
     width: 100%;
}

.af-wrapper {
     white-space: nowrap;
     width: 100%;
}

#af-filter-active {
     font-size: 12pt;
     font-weight: bold;
     text-align: center;
}

label.af-autocomplete-label {
     display: inline-block ! important;
     font-size: 9pt;
     font-weight: normal;
     margin-left: -75px;
     padding-right: 5px;
     text-align: right;
     width: 45%;
}

label.af-autocomplete-label::first-letter {
     text-transform: capitalize;
}

input.af-autocomplete.ui-autocomplete-input {
     display: inline-block;
     width: 60%;
}

#af-pager-wrapper {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
  padding-bottom: 5px;
}

#af-pager-controls{
     display: none ! important;
}

#af-pager-controls {
     padding-left: 20px;
     width: 100%;
}

#af-pager-count {
     display: block;
     text-align: center;
}

i.af-pager {
     cursor: pointer;
     margin-right: 20%;
}

.views-row .node-annotation .field-name-category {
     border-left: medium none;
     display: inline;
     font-style: normal;
     margin-left: 0em;
     padding: 0em;
}

.views-row .node-annotation .field-name-category a {
     color: #000000;
}

.views-row .node-annotation .field-name-category ul {
     margin-left: 0px ! important;
}

.views-row .node-annotation {
     margin: 0px;
}

.views-row .node-annotation .field-name-text {
     margin-bottom: -30px ! important;
}

.views-row .node-annotation .field-name-quote .field-item {
     font-style: italic;
}

.views-row .node-annotation .field-name-quote .field-item::before {
     content: "\"";
}

.views-row .node-annotation .field-name-quote .field-item::after {
     content: "\"";
}
