#annotation-filters-wrapper {
    position: relative;
}

#annotation-filters {
    position: fixed;
    padding-top: 5%;
}

.annotation-filters-hide-annotation {
  background-color: transparent !important;
}

.region-sidebar-second div#block-block-1 {
  background-color: transparent;
  border: none;
}

.annotation-sidebar-button {
  display: block;
  width: 100%;
  border: 1px solid black;
  background-color: gray;
  color: white;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.annotation-sidebar-button-active {
  background-color: green;
}

.annotation-filter-active {
  display: block;
  text-transform: capitalize;
}

label {
}

label:first-letter {
  text-transform: capitalize;
}
